<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../../dist/mui.css">
  <style>
    .bar{
      background:#eee;
      text-align:center;
      line-height:40px;
      border-radius:2px;
      height:100%;
    }
  </style>
</head>
<body>
  <div id="app">
    <m-grid gutter="16">
      <m-grid-item :span="12">
        <div class="bar">12</div>
      </m-grid-item>
      <m-grid-item :span="12">
        <div class="bar">12</div>
      </m-grid-item>
      <m-grid-item :span="8">
        <div class="bar">8</div>
      </m-grid-item>
      <m-grid-item :span="16">
        <div class="bar">16</div>
      </m-grid-item>
      <m-grid-item :span="12">
        <div class="bar">12</div>
      </m-grid-item>
      <m-grid-item :span="8">
        <div class="bar">8</div>
      </m-grid-item>
      <m-grid-item :span="4">
        <div class="bar">4</div>
      </m-grid-item>
      <m-grid-item :span="16">
        <div class="bar">16</div>
      </m-grid-item>
    </m-grid>
    <div style="height: 400px;border:1px solid #f00;margin-top:10px;">
      <m-grid height="100%" direction="vertical" gutter="16">
        <m-grid-item>
          <div class="bar">16</div>
        </m-grid-item>
        <m-grid-item paved>
          <div class="bar">16</div>
        </m-grid-item>
        <m-grid-item>
          <div class="bar">16</div>
        </m-grid-item>
      </m-grid>
    </div>
  </div>
  <script src="../../../node_modules/vue/dist/vue.min.js"></script>
  <script src="../../../dist/mui.js"></script>  
  <script>
    new Vue({
      el: '#app'
    })
  </script>
</body>
</html>