<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../../dist/mui.css">
  <style>
    p {
      font-size: 14px;
      margin: 0 20px;
      line-height: 1.8;
    }
  </style>
</head>

<body>
  <div id="app">
    <div style="width: 500px;height: 100px;border:1px solid #ccc;margin:20px;">
      <m-scroller>
        <p>网上关于利用Javascript获取图片原始宽度和高度的方法有很多，本文将再次给大家谈谈这个问题，或许会对一些人能有所帮助。</p>
        <p>页面中的img元素，想要获取它的原始尺寸，以宽度为例，可能首先想到的是元素的innerWidth属性，或者jQuery中的width()方法。</p>
        <p>但是如果给img元素增加了width属性，比如图片实际宽度是600，设置了width为400。这时候innerWidth为400，而不是600。显然，用innerWidth获取图片原始尺寸是不靠谱的。</p>
        <p>HTML5提供了一个新属性naturalWidth/naturalHeight可以直接获取图片的原始宽高。这两个属性在Firefox/Chrome/Safari/Opera及IE9里已经实现。</p>
        <p>网上关于利用Javascript获取图片原始宽度和高度的方法有很多，本文将再次给大家谈谈这个问题，或许会对一些人能有所帮助。</p>
        <p>页面中的img元素，想要获取它的原始尺寸，以宽度为例，可能首先想到的是元素的innerWidth属性，或者jQuery中的width()方法。</p>
        <p>但是如果给img元素增加了width属性，比如图片实际宽度是600，设置了width为400。这时候innerWidth为400，而不是600。显然，用innerWidth获取图片原始尺寸是不靠谱的。</p>
        <p>HTML5提供了一个新属性naturalWidth/naturalHeight可以直接获取图片的原始宽高。这两个属性在Firefox/Chrome/Safari/Opera及IE9里已经实现。</p>
      </m-scroller>
    </div>
    <div style="width: 500px;height: 100px;border:1px solid #ccc;margin:20px;">
      <m-scroller>
        <p style="white-space: nowrap;">
          网上关于利用Javascript获取图片原始宽度和高度的方法有很多，本文将再次给大家谈谈这个问题，或许会对一些人能有所帮助。网上关于利用Javascript获取图片原始宽度和高度的方法有很多，本文将再次给大家谈谈这个问题，或许会对一些人能有所帮助。网上关于利用Javascript获取图片原始宽度和高度的方法有很多，本文将再次给大家谈谈这个问题，或许会对一些人能有所帮助。
        </p>
      </m-scroller>
    </div>
    <div style="width: 500px;height: 100px;border:1px solid #ccc;margin:20px;">
      <m-scroller>
        <div>
          <p style="white-space: nowrap;">
            网上关于利用Javascript获取图片原始宽度和高度的方法有很多，本文将再次给大家谈谈这个问题，或许会对一些人能有所帮助。网上关于利用Javascript获取图片原始宽度和高度的方法有很多，本文将再次给大家谈谈这个问题，或许会对一些人能有所帮助。网上关于利用Javascript获取图片原始宽度和高度的方法有很多，本文将再次给大家谈谈这个问题，或许会对一些人能有所帮助。
          </p>
          <p style="white-space: nowrap;">
            网上关于利用Javascript获取图片原始宽度和高度的方法有很多，本文将再次给大家谈谈这个问题，或许会对一些人能有所帮助。网上关于利用Javascript获取图片原始宽度和高度的方法有很多，本文将再次给大家谈谈这个问题，或许会对一些人能有所帮助。网上关于利用Javascript获取图片原始宽度和高度的方法有很多，本文将再次给大家谈谈这个问题，或许会对一些人能有所帮助。
          </p>
          <p style="white-space: nowrap;">
            网上关于利用Javascript获取图片原始宽度和高度的方法有很多，本文将再次给大家谈谈这个问题，或许会对一些人能有所帮助。网上关于利用Javascript获取图片原始宽度和高度的方法有很多，本文将再次给大家谈谈这个问题，或许会对一些人能有所帮助。网上关于利用Javascript获取图片原始宽度和高度的方法有很多，本文将再次给大家谈谈这个问题，或许会对一些人能有所帮助。
          </p>
          <p style="white-space: nowrap;">
            网上关于利用Javascript获取图片原始宽度和高度的方法有很多，本文将再次给大家谈谈这个问题，或许会对一些人能有所帮助。网上关于利用Javascript获取图片原始宽度和高度的方法有很多，本文将再次给大家谈谈这个问题，或许会对一些人能有所帮助。网上关于利用Javascript获取图片原始宽度和高度的方法有很多，本文将再次给大家谈谈这个问题，或许会对一些人能有所帮助。
          </p>
          <p style="white-space: nowrap;">
            网上关于利用Javascript获取图片原始宽度和高度的方法有很多，本文将再次给大家谈谈这个问题，或许会对一些人能有所帮助。网上关于利用Javascript获取图片原始宽度和高度的方法有很多，本文将再次给大家谈谈这个问题，或许会对一些人能有所帮助。网上关于利用Javascript获取图片原始宽度和高度的方法有很多，本文将再次给大家谈谈这个问题，或许会对一些人能有所帮助。
          </p>
        </div>
      </m-scroller>
    </div>
  </div>
  <script src="../../../node_modules/vue/dist/vue.min.js"></script>
  <script src="../../../dist/mui.js"></script>
  <script>
    new Vue({
      el: '#app'
    })
  </script>
</body>

</html>