.m-menu{
  font-size: 14px;
  list-style:none;
  margin:0;
  padding:0;
  &-handle{
    display:table;
    width:100%;
    height: 56px;
    box-sizing: border-box;
    padding: 0 16px;
    cursor: pointer;
    & > span{
      display:table-cell;
      vertical-align: middle;
    }
  }
  &-label{
    width:100%;
  }
  &-prefix,
  &-suffix{
    white-space: nowrap;
    color:inherit;
    & > span{
      display:inline-block;
      min-width: 20px;
    }
  }
  &-suffix{
    & > span{
      text-align:right;
    }
  }
  &-icon{
    vertical-align: middle;
    width: 22px;
    margin-right: 8px;
  }
}