.m-paragraph{
  font-size: 16px;
  line-height: 1.8;
  position:relative;
  &-more{
    white-space: nowrap;
    display:inline-block;
    color:v(color-primary);
    position:absolute;
    right:0;
    bottom:0;
    cursor: pointer;
  }
  &-content{
    display:block;
    text-align:justify;
  }
  &-source{
    display:none;
  }
}