.m-paragraph{
  &-more{
    font-size: 14px;
    white-space: nowrap;
    display:inline-block;
    color:v(color-primary);
  }
  &-content{
    overflow:hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;
    text-align: justify
  }
}